<aside id="knowledge">
  <div class="container">
    <h2>Conhecimentos</h2>
    <div class="container-content">
      <div class="container-cards">
        <div
          class="card"
          (mouseenter)="handleSetDescription('html')"
          (mouseleave)="handleSetDescription('')"
        >
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>
        <div class="card">
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>
        <div class="card">
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>
        <div class="card">
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>
        <div class="card">
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>

        <div class="card">
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>
        <div class="card">
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>
        <div class="card">
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>
        <div class="card">
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>
        <div class="card">
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>
      </div>
      <div class="container-description">
        <p *ngIf="description; else WithoutDescription">{{ description }}</p>
        <ng-template #WithoutDescription>
          <p>*Passe o mouse sobre um icone para saber mais*</p>
        </ng-template>
      </div>
    </div>
  </div>
</aside>
