<aside id="knowledge">
  <div class="container">
    <h2>Conhecimentos</h2>
    <div class="container-content">
      <div class="container-cards">
        <div *ngFor="let knowledge of listOfKnowledge; let i = index">
          <div
            class="card"
            (mouseenter)="handleSetDescription(knowledge.type)"
            (mouseleave)="handleSetDescription(null)"
          >
            <ng-icon name="{{ knowledge.icon }}" class="icon"></ng-icon>
          </div>
        </div>
      </div>

      <div class="container-description">
        <p *ngIf="description; else WithoutDescription">{{ description }}</p>
        <ng-template #WithoutDescription>
          <p>*Passe o mouse sobre um icone para saber mais*</p>
        </ng-template>
      </div>
    </div>
  </div>
</aside>
