<aside>
  <div class="container">
    <h2>Conhecimentos</h2>
    <div class="container-content">
      <div class="container-cards">
        <div class="card">
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>
        <div class="card">
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>
        <div class="card">
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>
        <div class="card">
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>
        <div class="card">
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>

        <div class="card">
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>
        <div class="card">
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>
        <div class="card">
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>
        <div class="card">
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>
        <div class="card">
          <img src="../../../assets/Html5.png" alt="HTML 5" />
        </div>
      </div>
      <div class="container-description">
        <p>*Passe o mouse sobre um icone para saber mais*</p>
      </div>
    </div>
  </div>
</aside>
