<aside>
  <div class="container">
    <img src="../../../assets/lucas-costa.jpg" alt="Lucas Costa" />

    <div class="container-content">
      <h3>Quem sou</h3>
      <p class="name">Lucas Costa</p>
      <p class="subtitle">Desenvolvedor front-end</p>
      <p class="description">
        Meu nome é Lucas Costa, sou graduado em engenharia de software pela
        faculdade EAD unicesumar e atuo como desenvolvedor front-end. Estou
        sempre em busca de aprimorar meus conhecimentos e agregar um maior valor
        as pessoas por meio da tecnologia!
      </p>
      <div class="social-media">
        <ng-icon name="bootstrapInstagram" class="icon"></ng-icon>
        <ng-icon name="bootstrapLinkedin" class="icon"></ng-icon>
      </div>
    </div>
  </div>
</aside>
