<aside>
  <div class="container">
    <h2>Projetos</h2>
    <div class="container-cards">
      <div class="card">
        <h3>Nome do projeto</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus
          corrupti saepe laborum, ab, delectus odit eius laboriosam cumque
          accusantium explicabo maiores consequatur? Perspiciatis consequatur
          quis doloremque dicta reprehenderit sed velit!
        </p>
        <a href="#">Link para github</a>
      </div>

      <div class="card">
        <h3>Nome do projeto</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus
          corrupti saepe laborum, ab, delectus odit eius laboriosam cumque
          accusantium explicabo maiores consequatur? Perspiciatis consequatur
          quis doloremque dicta reprehenderit sed velit!
        </p>
        <a href="#">Link para github</a>
      </div>

      <div class="card">
        <h3>Nome do projeto</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus
          corrupti saepe laborum, ab, delectus odit eius laboriosam cumque
          accusantium explicabo maiores consequatur? Perspiciatis consequatur
          quis doloremque dicta reprehenderit sed velit!
        </p>
        <a href="#">Link para github</a>
      </div>
    </div>
    <app-button [buttonText]="buttonText"></app-button>
  </div>
</aside>
