@import url("../../../styles.scss");

button {
  background: #DBF227;
  color: #000;
  font-size: 1.125rem;
  padding: 0.8rem 1.5rem;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  transition: .3s;
  cursor: pointer;

  &:hover {
    background: transparent;
    border: 1px solid #DBF227;
    color: #DBF227;
  }
}
