main {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.container {
  width: 100%;
  max-width: 1250px;
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: space-between;

  @media(max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }

  .container-description {
    width: 55%;

    @media(max-width: 768px) {
      width: 100%;
    }

    h3 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 2rem;
      line-height: 1.2;

      span {
        color: #DBF227;
      }

      @media(max-width: 768px) {
        font-size: 2rem;
      }
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 3rem;
      line-height: 1.2;

      @media(max-width: 768px) {
        font-size: 1rem;
      }
    }
  }

  .container-images {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(max-width: 768px) {
      width: 100%;
    }

    img {
      width: 70px;
      transition: transform 0.3s ease;

      @media(max-width: 768px) {
        width: 50px;
      }
    }

    .move-up-down {
      animation: up-down 3s ease-in-out infinite;
    }

    .move-down-up {
      animation: down-up 3s ease-in-out infinite;
    }

    @keyframes up-down {
      0%, 100% {
        transform: translateY(-10px);
      }

      50% {
        transform: translateY(10px);
      }
    }

    @keyframes down-up {
      0%, 100% {
        transform: translateY(10px);
      }

      50% {
        transform: translateY(-10px);
      }
    }
  }
}
