<main>
  <div class="container">
    <div class="container-description">
      <h3>Olá sou <span>Lucas Costa</span></h3>
      <p>
        Desenvolvedor Front-End Formado em Engenharia de Software pela
        Unicesumar EAD.
      </p>
      <app-button
        [buttonText]="buttonText"
        [buttonLink]="instagramLink"
      ></app-button>
    </div>
    <div class="container-images">
      <img
        src="../../../assets/TYPESCRIPT.svg"
        alt="Typescript"
        class="move-up-down"
      />
      <img
        src="../../../assets/JAVASCRIPT.svg"
        alt="Javascript"
        class="move-down-up"
      />
      <img
        src="../../../assets/REACT.svg"
        alt="React Js"
        class="move-up-down"
      />
      <img
        src="../../../assets/ANGULAR.svg"
        alt="Angular"
        class="move-down-up"
      />
      <img
        src="../../../assets/WORDPRESS.svg"
        alt="Wordpress"
        class="move-up-down"
      />
    </div>
  </div>
</main>
