$background: #000;
$green-01: #DBF227;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
  scroll-behavior: smooth;
}

body {
  color: #FFF;
  background-color: $background;
}

a {
  text-decoration: none;
}
