<aside id="experience">
  <div class="container">
    <div class="experience">
      <h3>Experiência</h3>
      <div class="container-title">
        <h4>Desenvolvedor front-end</h4>
        <p>Dezembro 2021 - atualmente</p>
      </div>
      <p class="company">PD soluções em tecnologia</p>
      <ul>
        <li>
          Atuo em um projeto da Intelbras com desenvolvimento de interfaces do
          usuário resposiva que roda tanto no browser (desktop) e webview
          (android) utilizando React Js, Next js, Typescript, integração com
          API's rest, comunicação via websocket.
        </li>
        <li>Suporte a equipe de front-end.</li>
        <li>Code review.</li>
      </ul>
    </div>
    <div class="formation">
      <h3>Formação</h3>
      <div class="container-title">
        <h4>Engenharia de software</h4>
        <p>2016 - 2021</p>
      </div>
      <p class="company">EAD Unicesumar</p>
      <ul>
        <li>
          Estudos de fundamentos e arquitetura de computadores, algoritmos e
          lógica de programação, análise e projeto orientado a objetos, sistemas
          operacionais, etc.
        </li>
      </ul>
    </div>
  </div>
</aside>
